
/* Modifications to overwrite standard.css */
/* Yannik Rauter */ 

article header {
  /* margin: 0 0 3em 0; */
  text-align: left;
}

article header p {
  text-align: left;
}

div#whole {
  max-width: 70rem;
}

p a[href] {
  overflow-wrap: break-word;
  word-break: break-word;
}


/* ---------- Archive ---------- */
/* h1 {
  margin: 0em 0 0.7rem 0;
  font-weight: bold;
  font-size: 1.4em;
} */