#venue-information-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
}

#venue-details {
  max-width: 25rem;
  padding: 1rem;
  border: 0.1rem solid black;
  border-radius: 0.5rem;
  flex-basis: 12rem;
  flex-grow: 2;
  flex-shrink: 0;
  margin: 0 1rem 0 0;
}

#venue-photo-container {
  max-width: 50rem;
  padding: 1rem;
  flex-basis: 12rem;
  flex-grow: 3;
  flex-shrink: 0;

  min-height: 12rem;
  display: flex;
}

#venue-photo-container img {
  max-width: 12rem;
  border-radius: 0.5rem;
  margin: auto;
}

#venue-photo-container p {
  text-align: center;
  margin: auto;
}

#description, #directions {
  margin-bottom: 3rem;
}