{{ $sponsorshipLevel := $.Scratch.Get "sponsorshipLevel" }}
{{ $headingLevel := $.Scratch.Get "headingLevel" }}
<div>
  {{ printf "<%s>" $headingLevel | safeHTML }}{{ $sponsorshipLevel }} Sponsors{{ printf "</%s>" $headingLevel | safeHTML }}
  <ul class="compact">
    {{ range where .Site.RegularPages "Section" "sponsor" }}
      {{ if eq .Params.sponsorshipLevel $sponsorshipLevel }}
        <li><a href="{{ .Params.websiteUrl }}" target="_blank">{{ .Title }}</a></li>
      {{ end }}
    {{ end }}
  </ul>
</div>