<link rel="stylesheet" property="stylesheet" href="{{ "css/day.css" | relURL }}">

<h1>Static prototype for testing only</h1>

<div class="day-grid-container">
  <div class="grid-item-background" style="grid-row: 2 / 15; grid-column: 1 / 5;">
  </div>
  <div class="grid-item-background" style="grid-row: 26 / 39; grid-column: 1 / 5;">
  </div>
  <div class="grid-item-timeslot" style="grid-column: 1;">
    <div class="grid-item-time" style="grid-row: 2 / 14;">
      <hr>
      08:00
    </div>
    <div class="grid-item-time" style="grid-row: 14 / 26;">
      <hr>
      09:00
    </div>
    <div class="grid-item-time" style="grid-row: 26 / 38;">
      <hr>
      10:00
    </div>
    <div class="grid-item-time" style="grid-row: 38 / 50;">
      <hr>
      11:00
    </div>
    <div class="grid-item-time" style="grid-row: 50;">
      <hr>
      12:00
    </div>
    <div class="grid-item-time" style="grid-row: 62;">
      <hr>
      13:00
    </div>
    <div class="grid-item-time" style="grid-row: 74;">
      <hr>
      14:00
    </div>
  </div>
  <div class="grid-item-track" style="grid-column: 2;">
    <div class="subgrid-item-heading">
      <h3>Track 1</h3>
      <h4>Topic</h4>
      <p>List of topics</p>
      <h4>Session(s)</h4>
      <hr>
    </div>
    <div class="subgrid-item-session" style="grid-row: 2 / 20;">
      <h4>Opening Keynote with a very long Title which wraps across lines</h4>
      <p>08:00-09:30</p>
      <p>Topic: Session 1-1</p>
    </div>
    <div class="subgrid-item-session" style="grid-row: 20 / 44;">
      <h4>Opening Keynote with a very long Title which wraps across lines</h4>
      <p>09:30-11:30</p>
      <p>Topic: Session 1-2</p>
    </div>
    <div class="subgrid-item-session subgrid-item-compact" style="grid-row: 50 / 53;">
      <h4 style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;" title="Opening Keynote with a very long Title which wraps across lines">Opening Keynote with a very long Title which wraps across lines</h4>
      <p>12:00-12:15</p>
      {{/*  <p>Topic: Session 1-3</p>  */}}
    </div>
    <div class="subgrid-item-session" style="grid-row: 140 / 146;">
      <h4>Opening Keynote with a very long Title which wraps across lines</h4>
      <p>19:30-20:00</p>
      {{/*  <p>Topic: Session 1-4</p>  */}}
    </div>
  </div>
  <div class="grid-item-track" style="grid-column: 3;">
    <div class="subgrid-item-heading">
      <h3>Track 2</h3>
      <h4>Topic</h4>
      <p>List of topics</p>
      <h4>Session(s)</h4>
      <hr>
    </div>
    <div class="subgrid-item-session" style="grid-row: 2 / 11;">
      <h4>Opening Keynote with a very long Title which wraps across lines</h4>
      <p>08:00-08:45</p>
      <p>Topic: Session 2-1</p>
    </div>
    <div class="subgrid-item-session" style="grid-row: 14 / 35;">
      <h4>Opening Keynote with a very long Title which wraps across lines</h4>
      <p>09:00-10:45</p>
      <p>Topic: Session 2-2</p>
    </div>
    <div class="subgrid-item-session" style="grid-row: 38 / 50;">
      <h4>Opening Keynote with a very long Title which wraps across lines</h4>
      <p>11:00-12:00</p>
      <p>Topic: Session 2-3</p>
    </div>
    <div class="subgrid-item-session" style="grid-row: 50 / 56;">
      <h4>Opening Keynote with a very long Title which wraps across lines</h4>
      <p>12:00-12:30</p>
      <p>Topic: Session 2-4</p>
    </div>
    <div class="subgrid-item-session" style="grid-row: 134 / 146;">
      <h4>Opening Keynote with a very long Title which wraps across lines</h4>
      <p>19:00-20:00</p>
      <p>Topic: Session 2-5</p>
    </div>
  </div>
  <div class="grid-item-track" style="grid-column: 4;">
    <div class="subgrid-item-heading">
      <h3>Track 3</h3>
      <h4>Topic</h4>
      <p>List of topics</p>
      <h4>Session(s)</h4>
      <hr>
    </div>
    <div class="subgrid-item-session" style="grid-row: 2 / 15;">
      <h4>Opening Keynote with a very long Title which wraps across lines</h4>
      <p>08:00-09:00</p>
      <p>Topic: Session 3-1</p>
    </div>
    <div class="subgrid-item-session" style="grid-row: 14 / 26;">
      <h4>Opening Keynote with a very long Title which wraps across lines</h4>
      <p>09:00-10:00</p>
      <p>Topic: Session 3-2</p>
    </div>
    <div class="subgrid-item-session" style="grid-row: 26 / 39;">
      <h4>Opening Keynote with a very long Title which wraps across lines</h4>
      <p>10:00-11:00</p>
      <p>Topic: Session 3-3</p>
    </div>
    <div class="subgrid-item-session" style="grid-row: 50 / 62;">
      <h4>Opening Keynote with a very long Title which wraps across lines</h4>
      <p>12:00-13:00</p>
      <p>Topic: Session 3-4</p>
    </div>
    <div class="subgrid-item-session" style="grid-row: 122 / 146;">
      <h4>Opening Keynote with a very long Title which wraps across lines</h4>
      <p>18:00-20:00</p>
      <p>Topic: Session 3-5</p>
    </div>
  </div>
</div>